# Template file used to compute the height and width profile of simulated stars. 
# The values of this table is rescaled by the code so to match numax_star, Dnu_star and epsilon_star
# The table was generated using fitted frequencies and Heights of the Subgiants and early Red Giants
# Using the Coupled Oscilator Model (COscM) on Kepler Q0-7 data on 2011. Better templates can certainly
# be made nowadays using latest Kepler data release, but these may offer already a good diversity of 
# Width and Height profiles for l=0 modes. Note that this table is extrapolated at the edge to
# avoid the interpolation routine in python crashes (if numax_ref is too different from numax_star)
# If you note remaining crashes, try to 0s heights and widths at the edges.
ID_ref= 10147635
Dnu_ref= 37.38972294545455
epsilon_ref= 0.17105125457901593
numax_ref= 607.4704135524956
# Frequency (microHz)     Height (ppm^2/microhz)       Width
150                        0.0                      0.01
200                        0.001                    0.01
230                        0.01                     0.01
269.18                     0.10                     0.075000    
306.57                     0.30                     0.100000    
343.96                     0.75                     0.250000    
381.35                     1.50                     0.500000    
418.74                     4.00                     0.750000    
456.139472                11.476616                    1.047491
493.137502                 5.946117                    1.536766
530.099942                16.801203                    1.633771
567.229201                34.078794                    1.940353
603.135791                27.688428                    1.608436
640.597745                14.027174                    2.322543
678.850311                15.628150                    2.255344
716.569913                 8.167997                    2.444258
754.022867                 6.553822                    3.124394
792.280807                 5.726700                    2.483511
830.165789                 3.222952                    2.568487
867.55                     1.6                         3.000                 
904.94                     0.5                         4.0
942.334                    0.2                         5.0
979.72                     0.1                         6.0
1017.11                    0.01                        7.0
1050                       0.001                       8
1100                       0.0                         10
1150                       0.0                         10
1200                       0.0                         10